@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --color-primary: #f3f1ec;
    --color-link-dark: #be0f34;
    --color-link-light: #98c1e1;
    --color-accent: #721627;  /* #ff8800 */
    --color-dark: #002147;
    --color-body: black;
    --color-background: #f0f5f8;
}

* {
    /* color: var(--color-body);
    background-color: #002147; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


ol li {
    list-style: decimal;
    list-style-position: inside;
}

/* img {
    width: 20rem;
    height: 2%;
} */

.nav-bar {
    background-color: var(--color-dark);
    color: var(--color-primary);
    font-size: large;
    display: flex;
    align-items: center; 
    justify-content: space-evenly;
    padding: 0.5rem 4rem 0.5rem 4rem;
    /* position: fixed; 
    top: 0; 
    width: 100%; 
    z-index: 100; */
}

.nav-bear__item {
    margin: 0 1rem 0 1rem;
    /* background-color: #be0f34; */
}

/* Title */
.hero {
    margin-top: 2rem;
    /* background-color: aqua; */
    height: fit-content;
    text-align: center;
}

.heading {
    color: var(--color-accent);
    font-weight: bold;
}

.conference {
    margin: 1rem;
}

.author-list {
    display: flex;
    justify-content: space-evenly;
    margin-left: 2rem;
    margin-right: 2rem;
}

/* .name {
    background-color: aquamarine;
} */

.orgnization-list {
    margin-top: 1rem;
    display: flex;
    justify-content: space-evenly;
    margin-left: 4rem;
    margin-right: 4rem;
}


.button-group {
    /* background-color: rgb(43, 226, 134); */
    display: flex;
    justify-content: space-evenly;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 1rem;
}

.button {
    display: block;
    /* background-color: rgb(92, 92, 221); */
    text-align: center;
    justify-content: center;
    font-size: 1.4rem;
}

.icon {
    height: 4rem;
    
    left: 50%;
}

/* Image comparison */
.teaser{
    margin-top: 2rem;
    margin-left: 5%;
    margin-right: 5%;
    background-color: beige;
}

.teaser-caption-container {
    margin: 0 2rem 2rem 2rem;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: beige;
}

.teaser-caption-container>.teaser-caption {
    flex: 1;
}


/* .teaser-caption {
    background-color: aquamarine;
} */


/* Abstract */
.abstract {
    text-align: left;
    /* background-color: aquamarine; */
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.abstract p {
    text-align: justify;
}

.abstract .body-link {
    text-decoration: underline;
}

/* Method */
.method-illustration {
    display: block;
    background-color: var(--color-background);
    /* height: 10%; */
    margin: 0 0 6rem 0;
    border-bottom: 1px solid rgba(117, 117, 117, 0.2);
    border-top: 1px solid rgba(117, 117, 117, 0.2);
}

model-viewer{
    width: 250px;
    height:250px;
}

.viewer-group {
    display: flex;
    justify-content: space-between;
    /* background-color: #002147; */
    border-bottom: 1px solid rgba(117, 117, 117, 0.2);
    border-top: 1px solid rgba(117, 117, 117, 0.2);
    z-index: 100;
}

.method-illustration.viewer-3d {
    /* background-color: aqua; */
    border-radius: 10%;
    width: 20%;
    justify-content: center; 
    align-items: center; 
    display: flex;
}

.method-illustration h2 {
    font-size: 1.2rem;
}

.method-illustration.method-gif {
    /* background-color: aqua; */
    width: 100%; 
    justify-content: center; 
    align-items: center; 
    display: flex;
    
}

/* video */
.video {
    margin-bottom: 4rem;
}
.video-wrapper {
    position: relative; 
    padding-bottom: 56.25%; /* 16:9 */  
    padding-top: 25px;
    /* background-color: #98c1e1; */
    margin-left: 10%;
    margin-right: 10%;
}
.video-wrapper iframe {
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%;
}

/* Results */
.results-container{
    margin-left: 15%;
    margin-right: 15%;
}

video {
    width: 80%;
}

.results-wrapper {
    display: flex;
    justify-content: space-between;
}

.single-img-wrapper {
    /* background-color: aqua; */
    text-align: center;
}

.result-gif {
    width: 200px;
}

/* Comparison */
.comparison-slider {
    margin: 2rem 2rem 0 2rem;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: beige;
}

.b-dics {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
}

#b-dics__small {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}

/* citation */
.citation {
    text-align: left;
    padding: 1rem 1rem;
    margin-bottom: 2rem;
    background-color: rgb(91, 91, 91, 0.5);
    border-radius: 10px;
}

.footer {
    text-align: center;
    color: var(--color-primary);
    background-color: var(--color-dark);
}

/* Link */
/* a:visited {
    color: var(--color-secondary);
} */

.nav-bear__item:hover {
    color: var(--color-link-light);
}

.hero a:hover {
    text-decoration: underline;
    color: var(--color-link-dark);
}

.abstract .body-link:hover {
    text-decoration: underline;
    color: var(--color-link-dark);
}

.button-group a:hover {
    text-decoration: underline;
    color: var(--color-link-dark);
}


.icon:hover {
    fill: var(--color-link-dark);
}

@media screen and (max-width: 550px) {
    body {
        font-size: 0.6rem;
    }

    .method-illustration h2 {
        font-size: 0.8rem;
    }

    model-viewer{
        width: 100px;
        height:100px;
    }

    .results-container{
        margin-left: 15%;
        margin-right: 15%;
        display: block;
    }

    video {
        width: 100%;
    }
  }